$theme-swithcher-height: 2rem;
$theme-switcher-padding: 0.25rem;
$theme-switcher-ball-size: $theme-swithcher-height - $theme-switcher-padding * 2;
$theme-switcher-width: $theme-switcher-ball-size * 2 + $theme-switcher-padding *
  2;
$theme-switcher-border-radius: $theme-swithcher-height / 2;

.theme-switcher {
  &_light {
    color: #000000;
  }

  &_dark {
    color: #e6e6e6;
  }
  transition: color 0.4s ease-in-out;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 0.4rem;
  align-items: center;
  position: relative;
  user-select: none;

  &__icon {
    &_light {
      filter: invert(0);
    }

    &_dark {
      filter: invert(1);
    }
    transition: filter 0.25s ease-in-out;

    width: 1.25rem;
    height: 1.25rem;
  }

  &__checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__background {
    &_light {
      background-color: #858585;
    }

    &_dark {
      background-color: #e4e4e4;
    }
    transition: background-color 0.25s ease-in-out;
    height: $theme-swithcher-height;
    width: $theme-switcher-width;
    border-radius: $theme-switcher-border-radius;
    padding: $theme-switcher-padding;
  }

  &__ball {
    &_light {
      background-color: #ebebeb;
    }

    &_dark {
      transform: translateX(100%);
      background-color: #6e6e6e;
    }
    transition-property: transform, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

    cursor: pointer;
    width: $theme-switcher-ball-size;
    height: $theme-switcher-ball-size;
    border-radius: 50%;
  }
}
